table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    padding: 20px;
}
body{
    background-color: #ebba34;
    font-family:"Gill Sans MT";
    text-align:center;
    align-content: center;
}
h1,h2{
    font-weight: 500;
}
header{
    background-color:white;
    padding:3px;
}

.weather {
    position: fixed;
    background-color: Pink;
    align:top;
}