body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#012325;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  background-color: white;
  border-color: #BFB8A3;
  border-width: thin;
  font-style: normal;
  font-family: sans-serif;
  font-size: 300%;
  font-weight: lighter;
  font-variant: small-caps;
  color: #C77F62;
  margin-bottom: 0;
}

h3{
  font-style: normal;
  font-weight: lighter;
  font-size: 180%;
  font-family: sans-serif;
  font-variant: small-caps;
  margin-bottom: 0;
  color: #C77F62
}

.bottomText{
  margin:16px;
  text-align:left;
}
table, th, td, tr{
  margin:0px;
  color:#BFB8A3;
  border: 10px;
}
div {
  font-style: normal;
  padding-left: 5px;
  background-color:#012325;
  color: #BFB8A3
}

.notification {
  color:#012325;
  background: #C77F62;
  font-size: 13px;
  font-weight:bold;
  padding: 10px;
  margin-bottom: 10px;
}

button{
  font-variant: small-caps;
  background-color: #012325;
  border-color: #BFB8A3;
  border-width: thin;
  padding: 5px;
  color: #BFB8A3;
}

button:hover{
  border-color: #C77F62;
  color: #C77F62
}

button, input:focus{
  outline:none;
}

input{
  background-color: #012325;
  border-color: #BFB8A3;
  border-width: thin;
  padding: 5px;
  color: #BFB8A3;
}

input, label{
  display:block;
  margin-bottom: 8px;
}
