<template>
    <div class="homeText">
        <h1>Syötä tapahtuma</h1>
        <form @submit="postData" method="post">
            <input type="text" name= "nimi" v-model="posts.content" placeholder="Tapahtuman nimi"/>
            <input type="text" name= "pvm" v-model="posts.date" placeholder="Tapahtuman päivämäärä"/>
            <button type="submit">Tallenna</button>
        </form>
    </div>
</template>
<script>
  Vue.use(VueAxios, axios)
  import Vue from 'vue'
  import axios from 'axios'
  import VueAxios from 'vue-axios'

  export default {
    name: 'AddEvent',
    data(){
      return{
        posts: {
          content:null,
          date:null,
        }
      }
    },
    methods: {
      postData(e) {
        this.axios.post(" http://localhost:3001/events", this.posts)
        .then((result)=>{
          console.warn(result)
        })
        console.warn(this.posts)
        e.preventDefault();

      },

    }
  };
</script>
<style scoped>
    .homeText{
        font-size: 35px;
        color: red;
        text-align: center;
        position: relative;
        top:30px;
        text-shadow: 2px 2px 2px gray;
    }
</style>